@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  overflow-x: hidden;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Fonts */ 

@layer base {
  @font-face {
    font-family: Acumin-Bold ;
    font-weight: 300;
    src: url(/fonts/Acumin-Bold.woff2) format("woff2");
  }
  @font-face {
    font-family: Acumin-Light;
    font-weight: 300;
    src: url(/fonts/Acumin-Light.woff2) format("woff2");
  }
  @font-face {
    font-family: Acumin-Medium;
    font-weight: 300;
    src: url(/fonts/Acumin-Medium.woff2) format("woff2");
  }
  @font-face {
    font-family: Acumin-Medium;
    font-weight: 300;
    src: url(/fonts/Acumin-Semibold.woff2) format("woff2");
  }
}


/* Heading and body text */ 


h1{
  font-family: Acumin-Light;
  font-size: 3.125rem;
  line-height: 3.8rem;
  text-transform: uppercase;
}

h2{
  font-family: Acumin-Light;
  font-size: 3rem;
  line-height: 3.8rem;
  text-transform: uppercase;
  letter-spacing: 1px;

}

@media (min-width: 320px) and (max-width: 480px) {
  h2{
    font-size: 2.125rem;
    line-height: 2.4rem;
    }
  
}

h3, .makingwaves{
  font-family: Acumin-Light;
  font-size: 1.875rem;
  line-height: 2.2rem;
  text-transform: uppercase;
}

h4{
  font-family: Acumin-Light;
  font-size: 1.4375rem;
  line-height: 1.5rem;
  text-transform: uppercase;
}

h5{
  font-family: Acumin-Bold;
  font-size: 1.4375rem;
  line-height: 1.5rem;
  text-transform: uppercase;
}

h6{
  font-family: Acumin-Light;
  font-size: 0.9375rem;
  line-height: 1.5rem;
  text-transform: uppercase;
}

p{
  font-family: Acumin-Light;
  font-size: 1.3rem;
  line-height: 1.5rem;
  text-align: justify;
  text-align-last: center;
}


/* Hover buttons */ 

button{
  font-family: Acumin-Bold;
  text-transform: uppercase;
  transition: all 0.2s ease-in;
}

button:hover{
  background: #2473FF;
  color: white; 
}

.instagram{
  transition: all 0.2s ease-in;
}
.instagram:hover{
  background: #2473FF;
}


/* Making waves section */

.makingwaves{
  top: -156px;
  width: 295px;
  margin: 0 auto;
}

.pillow{
  position: relative;
  left: 40px;
}





