@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@import url("https://p.typekit.net/p.css?s=1&k=hjk8czh&ht=tk&f=26058.26072.26075&a=98801926&app=typekit&e=css");

.tk-acumin-pro { font-family: "acumin-pro",sans-serif; }
.tk-acumin-pro-wide { font-family: "acumin-pro-wide",sans-serif; }

body {
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Fonts */

@layer base {
  @font-face {
    font-family:"acumin-pro";
    src:url("https://use.typekit.net/af/a2c82e/00000000000000003b9acaf4/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff2"),url("https://use.typekit.net/af/a2c82e/00000000000000003b9acaf4/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff"),url("https://use.typekit.net/af/a2c82e/00000000000000003b9acaf4/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("opentype");
    font-display:auto;font-style:normal;font-weight:300;font-stretch:normal;
  }

  @font-face {
    font-family:"acumin-pro-wide";
    src:url("https://use.typekit.net/af/be1794/00000000000000003b9acb45/27/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/be1794/00000000000000003b9acb45/27/d?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/be1794/00000000000000003b9acb45/27/a?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n7&v=3") format("opentype");
    font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
  }

  @font-face {
    font-family:"acumin-pro-wide-light";
    src:url("https://use.typekit.net/af/1b8691/00000000000000003b9acb3d/27/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n3&v=3") format("woff2"),url("https://use.typekit.net/af/1b8691/00000000000000003b9acb3d/27/d?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n3&v=3") format("woff"),url("https://use.typekit.net/af/1b8691/00000000000000003b9acb3d/27/a?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n3&v=3") format("opentype");
    font-display:auto;font-style:normal;font-weight:300;font-stretch:normal;
  }
  @font-face {
    font-family: Acumin-Bold ;
    font-weight: 300;
    src: url(/fonts/Acumin-Bold.woff2) format("woff2");
  }
  @font-face {
    font-family: Acumin-Light;
    font-weight: 300;
    src: url(/fonts/Acumin-Light.woff2) format("woff2");
  }
  @font-face {
    font-family: Acumin-Medium;
    font-weight: 300;
    src: url(/fonts/Acumin-Medium.woff2) format("woff2");
  }
  @font-face {
    font-family: Acumin-Medium;
    font-weight: 300;
    src: url(/fonts/Acumin-Semibold.woff2) format("woff2");
  }
}


/* Heading and body text */


h1 {
  font-family: Acumin-Light;
  font-size: 3.125rem;
  line-height: 3.8rem;
  text-transform: uppercase;
}

h2 {
  font-family: acumin-pro-wide-light;
  font-size: 1.8rem;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 1px;
  @media (min-width: 640px) {
    font-size: 3rem;
  }
}


h3 {
  font-family: acumin-pro-wide-light;
  font-size: 1rem;
  line-height: 1.17;
  text-transform: uppercase;
  @media (min-width: 640px) {
    font-size: 1.875rem;
  }
}

h4 {
  font-family: acumin-pro-wide-light;
  font-size: 1rem;
  line-height: 1.04;
  text-transform: uppercase;
  @media (min-width: 640px) {
    font-size: 1.4375rem;
  }
}

h5 {
  font-family: acumin-pro-wide;
  font-size: 1.4375rem;
  line-height: 1.5rem;
  text-transform: uppercase;
}

h6 {
  font-family: Acumin-Light;
  font-size: 0.9375rem;
  line-height: 1.5rem;
  text-transform: uppercase;
}

p {
  font-family: Acumin-Light;
  font-size: 1.3rem;
  line-height: 1.15;
  text-align: center;
  @media (min-width: 640px) {
    text-align: justify;
    text-align-last: center;
  }
}


/* Hover buttons */

.circle-hover:hover {
  fill: blue;
}

.acumin-light {
  font-family: acumin-pro-wide-light;
  text-transform: none;
}

button {
  font-family: acumin-pro-wide;
  text-transform: uppercase;
  transition: all 0.2s ease-in;
}

button:hover{
  background: #2473FF;
  color: white;
}

.instagram {
  transition: all 0.2s ease-in;
}
.instagram:hover {
  background: #2473FF;
}

.pillow {
  position: relative;
  left: 40px;
}
form {
  font-family: acumin-pro-wide-light;
}

.scrollable::-webkit-scrollbar {
  height: 0; /* Width of the scrollbar */
  background-color: rgba(0, 0, 0, 0);
}

.scrollable::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.0); /* Color of the scrollbar thumb */
  border-radius: 2px;
}




